/* Hoja principal SCSS */
@import url("../../../node_modules/bootstrap/scss/bootstrap.scss");
@import "./variables";

/* Estilos generales*/
html,
body{
    height: 100%;
}

body {
    font-family: "Raleway", sans-serif;
    height: 100%;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.01em;
    color: $cm-dark;
    background-color: $cm-gray--100;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Layout */
.wrapper {
    padding: 0px 102px;
}

/* Texto */
.cm-text--dark {
    color: $cm-dark;
}
.cm-text--light {
    color: $cm-light;
}

.cm-text--green {
    color: $cm-primary;
}

.cm-text--grey {
    color: $cm-gray--300;
}
.cm-text--dark---grey {
    color: $cm-gray--400;
}

.cm-text-600 {
    font-weight: 600;
}

.cm-text-700 {
    font-weight: 600;
}

.section-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}
/* Header */
.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 24px 40px;
    .profile{
        display: flex;
        background-color: $cm-white;
        border-radius: 90px;
        align-items: center;
        padding-right: 16px;
        h4{
            margin-bottom: 0;
            font-size: 20px;
        }
        .profile-img{
            background-color: $cm-black;
            border-radius: 100%;
            padding: 8px 7px;
            color: $cm-gray--500;
            display: flex;
            align-items: center;
            font-size: 15px;
        }
        .dropdown-toggle{
            color: $cm-black;
            font-weight: 600;
            &::after {
                display: none;
            }
            i{
                margin-left: 15px;
                color: $cm-gray--300;
            }
        }
    }
}

/* Logo */
#logo {
    h1 {
        font-weight: 400;
        font-size: 24px;
        line-height: 24px;
        line-height: 34px;
    }
    span {
        margin-left: 5px;
        padding-left: 5px;
        font-weight: 800;
        border-left: 5px solid $cm-primary;
    }
}

/* Botones */
.btn {
    border-radius: $cm-border--radius;
    padding: 7px 14px 10px 10px;
    font-size: 15px;
    font-weight: 700;
}

.btn-primary {
    background-color: $cm-primary;
    border-color: $cm-primary;
}

.btn-outline-secondary{
    height: 40px;
    font-size: 15px;
    border-radius: 8px;
    padding: 5px 14px 5px 10px !important;
    color: $cm-black;
    background-color: $cm-white;
    border: 1px solid #E6E6EA;
    i{
        margin-right: 12px;
        font-size: 19px;
    }
    &:hover {
        color: #fff;
        background-color: #6c757d;
        border-color: #6c757d;
    }
}

