/* Variables */
/** Estilos pagina index **/
.candidate-dashboard {
  display: flex; }

.candidate-form {
  flex-basis: 30%;
  background-color: #fff;
  padding: 24px;
  border-radius: 20px; }
  .candidate-form .profile {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 24px; }
    .candidate-form .profile img {
      width: 90px;
      height: 90px;
      border-radius: 20px;
      border: #e5e5e5 5px solid; }
    .candidate-form .profile h1 {
      font-weight: 800;
      font-size: 24px;
      line-height: 28px; }
    .candidate-form .profile .profile-location {
      display: flex;
      flex-flow: row;
      color: #A5A8B3; }
      .candidate-form .profile .profile-location i {
        vertical-align: baseline;
        -webkit-text-stroke: 0px;
        font-size: 15px; }
      .candidate-form .profile .profile-location h2 {
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        margin-left: 12px;
        margin-bottom: -3px;
        margin-top: 1px; }
  .candidate-form form {
    margin-top: 48px; }
    .candidate-form form .btn-secondary {
      margin-right: 10px; }
    .candidate-form form .btn-outline-secondary i {
      font-size: 16px; }
    .candidate-form form .tags {
      margin-bottom: 15px; }

/* Form */
.form-label {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 12px;
  letter-spacing: -0.01em; }

.form-control {
  border-radius: 6px;
  font-size: inherit;
  line-height: 12px;
  padding: 10px 15px;
  margin-bottom: 30px;
  background-color: #F8F8F9;
  border-color: #F8F8F9;
  color: #121625;
  font-weight: 500; }
  .form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #32D4A4;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 253, 141, 0.25); }
  .form-control::placeholder {
    color: #121625;
    font-weight: 500; }

.search {
  position: relative; }
  .search i {
    position: absolute;
    top: 10px;
    left: 16px; }
  .search .form-control {
    width: 354px;
    margin-bottom: 0;
    padding: 9px 15px 8px 44px;
    border-radius: 6px;
    font-size: inherit;
    background-color: #E6E6EA;
    border-color: #E6E6EA;
    color: #121625;
    font-weight: 500; }
    .search .form-control:focus {
      color: #212529;
      font-weight: 500;
      background-color: #fff;
      border-color: #32D4A4;
      outline: 0;
      box-shadow: none; }
    .search .form-control::placeholder {
      color: #121625;
      font-weight: 500; }

.form-select {
  padding: 9px 15px 8px 15px;
  margin-bottom: 28px !important;
  border-radius: 6px;
  font-size: inherit;
  background-color: #F8F8F9;
  border-color: #F8F8F9;
  color: #121625;
  font-weight: 500; }
  .form-select:focus {
    color: #212529;
    font-weight: 500;
    background-color: #fff;
    border-color: #32D4A4;
    outline: 0;
    box-shadow: none; }
  .form-select::placeholder {
    color: #121625;
    font-weight: 500; }
  .form-select option {
    max-width: 100%;
    font-weight: 500; }

.form-check {
  padding-left: 30px; }
  .form-check .form-check-input[type="checkbox"] {
    margin-top: 1px;
    margin-right: 13px;
    border-radius: 0.15rem;
    border: 3px solid #A5A8B3; }
  .form-check .form-check-input:checked {
    background-color: #32D4A4; }
  .form-check .form-check-input:checked {
    background-color: #32D4A4; }
  .form-check .form-check-input:focus {
    border-color: #32D4A4;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 253, 141, 0.25); }

/*Tag list*/
/* Token autocomplete */
.token-autocomplete-container {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap; }
  .token-autocomplete-container .token-item {
    order: 2;
    background-color: #E6E6EA;
    color: #121625;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding: 3px 12px 4px;
    margin-right: 6px;
    margin-bottom: 7px;
    border-radius: 20px; }
    .token-autocomplete-container .token-item .token-autocomplete-token-delete {
      cursor: pointer;
      color: #A5A8B3;
      font-size: 23px;
      margin-left: 6px;
      vertical-align: text-bottom;
      pointer-events: auto;
      font-weight: 100; }
  .token-autocomplete-container .token-autocomplete-input {
    text-transform: initial;
    display: block;
    order: 1;
    width: 100%;
    border-radius: 6px;
    font-size: inherit;
    line-height: 12px;
    padding: 14px 0px 14px 15px;
    margin-bottom: 15px;
    background-color: #F8F8F9;
    border-color: #F8F8F9;
    color: #121625;
    font-weight: 500; }
    .token-autocomplete-container .token-autocomplete-input:empty::before {
      content: attr(data-placeholder);
      color: rgba(0, 0, 0, 0.281); }
    .token-autocomplete-container .token-autocomplete-input:focus-visible {
      outline-color: #32D4A4; }
  .token-autocomplete-container .token-autocomplete-suggestions {
    display: none;
    width: 100%;
    list-style-type: none;
    padding: 0px;
    order: 1;
    margin-top: -25 px;
    margin-bottom: 12px; }
    .token-autocomplete-container .token-autocomplete-suggestions li {
      width: 100%;
      padding: 8px;
      border-radius: 8px;
      cursor: pointer; }
    .token-autocomplete-container .token-autocomplete-suggestions .token-autocomplete-suggestion-active {
      color: #747474;
      background-color: #fdfdfd; }
    .token-autocomplete-container .token-autocomplete-suggestions .token-autocomplete-suggestion-highlighted {
      background-color: #32D4A4; }
