@import "./variables";

/** Estilos pagina index **/
.dashboard {
    .admin-panel {
        display: flex;
        flex-flow: row;
        gap: 40px;
        .admin-main {
            flex-basis: 80%;
        }
        .sidebar {
            flex-basis: 20%;
            height: fit-content;
            background-color: $cm-white;
            padding: 28px 24px;
            border-radius: 20px;
            .section-title {
                margin-bottom: 28px;
            }
            i {
                width: fit-content;
                color: $cm-primary;
                font-size: 16px;
            }
            .filters {
                .tag-list {
                    span {
                        display: inline-block;
                        background-color: $cm-gray--200;
                        color: $cm-black;
                        text-transform: uppercase;
                        font-size: 12px;
                        font-weight: 600;
                        padding: 5px 12px 4px;
                        margin-right: 6px;
                        margin-bottom: 7px;
                        border-radius: 20px;
                        svg{
                            width: 12px;
                            margin-left: 8px;
                            vertical-align: text-bottom;
                            color: $cm-gray--300;
                        }
                    }
                }
            }
        }
    }
    .dashboard-navbar {
        display: flex;
        align-items: center;
        form {
            margin-left: 24px;
        }
        button {
            margin-left: auto;
        }
    }
}

/* Form */
.form-label {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 12px;
    letter-spacing: -0.01em;
}

.form-control {
    border-radius: $cm-border--radius;
    font-size: inherit;
    line-height: 12px;
    padding: 10px 15px;
    margin-bottom: 30px;
    background-color: $cm-gray--100;
    border-color: $cm-gray--100;
    color: $cm-gray--300;
    &:focus {
        color: #212529;
        background-color: #fff;
        border-color: $cm-primary;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(13, 253, 141, 0.25);
    }
    &::placeholder {
        color: $cm-gray--300;
    }
}

.search {
    position: relative;
    i {
        position: absolute;
        top: 10px;
        left: 16px;
    }
    .form-control {
        width: 354px;
        margin-bottom: 0;
        padding: 9px 15px 8px 44px;
        border-radius: $cm-border--radius;
        font-size: inherit;
        background-color: $cm-gray--200;
        border-color: $cm-gray--200;
        color: $cm-gray--400;
        &:focus {
            color: #212529;
            background-color: #fff;
            border-color: $cm-primary;
            outline: 0;
            box-shadow: none;
        }
        &::placeholder {
            color: $cm-gray--300;
        }
    }
}

.form-select {
    padding: 9px 15px 8px 15px;
    margin-bottom: 28px !important;
    border-radius: $cm-border--radius;
    font-size: inherit;
    background-color: $cm-gray--100;
    border-color: $cm-gray--100;
    color: $cm-black;
    font-weight: 500;
    &:focus {
        color: #212529;
        background-color: #fff;
        border-color: $cm-primary;
        outline: 0;
        box-shadow: none;
    }
    &::placeholder {
        color: $cm-black;
        font-weight: 500;
    }
    option {
        max-width: 100%;
        font-weight: 500;
    }
}

.form-check {
    padding-left: 30px;
    .form-check-input[type="checkbox"] {
        margin-top: 1px;
        margin-right: 13px;
        border-radius: 0.15rem;
        border: 3px solid $cm-gray--300;
    }
    .form-check-input:checked {
        background-color: $cm-primary;
    }
    .form-check-input:checked {
        background-color: $cm-primary;
    }

    .form-check-input:focus {
        border-color: $cm-primary;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(13, 253, 141, 0.25);
    }
}

/* Tabla */
.table {
    margin-top: 15px;
    border-radius: 20px;
    background-color: white;
    border-collapse: separate;
    border: solid $cm-gray--200 1px;

    tbody {
        border-top: none !important;
    }
    td,
    th {
        border-top: none;
    }
    th {
        cursor: pointer;
        color: $cm-gray--300;
        font-size: 11px;
        letter-spacing: 0.01rem;
        text-transform: uppercase;
        padding: 13px 24px;
        i {
            margin-left: 12px;
        }
        &:hover{
            color: $cm-black;
        }
    }
    td {
        font-size: 15px;
        font-weight: 600;
        padding: 20px 24px;
    }
    .tags {
        span {
            background-color: $cm-primary;
            color: $cm-white;
            text-transform: uppercase;
            font-size: 12px;
            padding: 5px 8px 4px;
            margin-right: 6px;
            border-radius: 6px;
        }
    }
}
